header {
  background-image: url("https://storywithoutaplot.files.wordpress.com/2012/12/desktop.jpg");
  height: 1200px; }
  header nav {
    height: 65px;
    background-color: rgba(100, 100, 100, 0.5); }
    header nav img#logo {
      height: 65px;
      border-radius: 50%;
      display: inline-block; }
    header nav h1 {
      text-align: left;
      margin: 0px auto;
      margin-left: 25px;
      color: white;
      font-family: 'Spectral SC', serif;
      display: inline-block; }
    header nav ul {
      display: inline-block; }
      header nav ul li {
        display: inline-block;
        color: white;
        font-size: 14px;
        margin-right: 5px;
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 33px;
        padding-bottom: 18px;
        margin-top: -15px; }
      header nav ul li#phoneNum {
        font-size: 22px;
        padding-bottom: 11px; }
      header nav ul li#getStarted {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 13px; }
    header nav li:hover {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%; }

h2 {
  color: white;
  margin-left: 742px;
  margin-top: -950px;
  font-size: 41px;
  text-shadow: -2px 0px 	#A9A9A9; }

body {
  background-image: url("https://storywithoutaplot.files.wordpress.com/2012/12/desktop.jpg");
  height: 1200px;
  background-repeat: no-repeat; }
